:root {
  --sky-blue: #6484e1;
  --sky-blue-half: rgba(100, 132, 225, 0.5);
  --platinum: #eaeaea;
  --platinum-half: rgba(234, 234, 234, 0.5);
  --platinum-quarter: rgba(234, 234, 234, 0.2);
  --munsell: #ec0b43;
  --onyx: #32353e;
  --viridian: #417b5a;
  --gold: #d5a021;
}

html {
  box-sizing: border-box;
}

/* --------------------------------- tooltip -------------------------------- */

details.tooltip {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 30vw;
  height: fit-content;
  padding: 1rem;

  border-top: 2px solid rgb(233 233 233);
  border-right: 2px solid rgb(181 181 181);
  border-bottom: 2px solid rgb(181 181 181);
  border-left: 2px solid rgb(233 233 233);

  border-radius: 10px;
  background-color: rgba(100, 132, 225, 0.266);
  -moz-backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

ul {
  list-style-type: "\2737 ";
  margin-left: 1ch;

  & > li {
    padding-left: 1ch;
  }
}

ul.tt-list {
  margin-left: 4ch;
}

ul.tt-list > li {
  padding-bottom: 0.5rem;
  padding-left: 1ch;
}

ul.tt-list > li:first-of-type {
  padding-top: 0.5rem;
}

.tooltip:hover {
  cursor: default;
}

.tooltip > summary:hover {
  cursor: pointer;
}

/* ------------------------------- use button ------------------------------- */

a.use {
  position: fixed;
  right: 2rem;
  top: 2rem;

  width: 6rem;
  height: 6rem;
  padding: 1rem;
  border-radius: 100px;
  border-top: 2px solid rgb(233 233 233);
  border-right: 2px solid rgb(181 181 181);
  border-bottom: 2px solid rgb(181 181 181);
  border-left: 2px solid rgb(233 233 233);
  text-align: center;

  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  text-transform: uppercase;
  /* line-height: 2rem; */

  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--sky-blue) !important;

  background-color: rgba(255, 255, 255, 0.266);
  -webkit-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  transition: background-color 0.2s cubic-bezier(0.33, 1, 0.68, 1),
    color 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

a.use:hover {
  color: var(--platinum) !important;
  background-color: var(--sky-blue);
}

a.use::after {
  content: "";
}

a.use > span:first-of-type {
  padding-top: 0.5rem;
}

span.arrow {
  font-size: 4rem;
  line-height: 2rem;
  color: var(--sky-blue);
}

span.arrow:hover {
  color: var(--platinum);
}

/* ------------------------------ media queries ----------------------------- */

@media only screen and (max-width: 588px) {
  details.tooltip {
    width: 60vw;
  }
}

@media print {
  details.tooltip,
  a.use {
    display: none;
  }
}
