@import url("/globalstyles.css");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --padding: 1rem;
  --margin: 3rem;
  --u-width: 50vw;
}

html {
  font-size: 14px;
  background: linear-gradient(var(--sky-blue), #fff);
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: auto;
}

#universe {
  width: var(--u-width);
  margin: var(--margin) auto;

  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;

  & > p,
  li,
  h2,
  h3,
  h4 {
    padding-bottom: var(--padding);
  }
}

header {
  margin-top: 5rem;
}

h1 {
  font-family: Ballet, cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 7rem;
  text-align: center;
  line-height: 5rem;
  text-shadow: 0px 0px 6px rgba(255, 255, 255);
  color: var(--sky-blue);
}

#for-the {
  font-size: 4rem;
}

#date-time {
  font-family: "DM Mono", serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 5rem;
  color: var(--sky-blue);
}

ul.main-list {
  margin-top: 1rem;
  margin-left: 2ch;
}

ul.main-list > li {
  padding-left: 1ch;
}

.sticky {
  max-width: 30vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: "DM Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

code:not(.lang-jsx) {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 3px;
}

.code-block {
  width: var(--u-width);
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;

  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(6, 5, 80, 0) 36%,
    rgba(9, 9, 121, 0) 100%
  );
  border-radius: 3px;
  margin: 1rem 0;
  padding: 3px;

  position: relative;
}

.code-block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  border: 1px solid red;
}

thead {
  text-align: left;
}

tr {
}

td {
  padding-right: 1rem;
}

footer {
  width: var(--u-width);
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--margin) auto;

  & > a {
    text-align: center;

    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;

    text-transform: uppercase;
    text-decoration: none !important;
  }

  & > a::after {
    content: " \2197";
  }
}

@media only screen and (max-width: 668px) {
  :root {
    --u-width: 80vw;
  }

  .sticky {
    max-width: var(--u-width);
  }
}
